@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

* {
  box-sizing: border-box;
}

*::selection {
  background-color: orangered;
  color: #000;
}

body {
  margin: 0 auto;
  max-width: 1440px;
  padding: 24px;
  background-color: #000;
  color: #fff;
  line-height: 1.5;
}

a {
  color: #fff;
}

a:hover {
  text-decoration: none;
}

nav {
  margin-bottom: 12px;
}

.tab {
  text-decoration: none;
}

.tab:hover,
.tab--active {
  text-decoration: underline;
  text-decoration-color: orangered;
}

.tab:not(:last-child) {
  margin-right: 8px;
}

.form {
  background-color: #fff;
  color: #000;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.form .label,
.form .error {
  display: block;
  margin-bottom: 16px;
}

.form input,
.form select {
  margin-left: 12px;
}

.error {
  color: red;
}

.book {
  background-color: #fff;
  color: #000;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.book.important {
  outline: 4px solid yellow;
}

.book * {
  margin: 0;
}

.button {
  padding: 8px 12px;
  background-color: #000;
  color: #fff;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 12px;
}

.book__delete-button {
  background-color: red;
}

.book__read-button {
  background-color: green;
}

.book__actions,
.book__comments,
.book__comment-form {
  margin-top: 12px;
}

.book__comment-input {
  margin-right: 12px;
}

.message {
  color: orangered;
}
